includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    excludePaths:
    	analyseAndScan:
    		- %currentWorkingDirectory%/src/Resources/skeletons/*
    		- %currentWorkingDirectory%/tests/Fixtures/*
    ignoreErrors:
        - identifier: ternary.shortNotAllowed

