<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         executionOrder="random"
         colors="true"
>
    <coverage includeUncoveredFiles="true"/>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="Shopware\Core\Kernel"/>
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHOPWARE_HTTP_CACHE_ENABLED" value="0" />

        <env name="SHELL_VERBOSITY" value="-1" />
        <server name="MAILER_URL" value="smtp://localhost:1025"/>
        <server name="HTTPS" value="off"/>
        <!--To see the full stackTrace of a Deprecation set the value to a regex matching the deprecation warning-->
        <!--https://symfony.com/doc/current/components/phpunit_bridge.html#display-the-full-stack-trace-->
        <!--        <env name="SYMFONY_DEPRECATIONS_HELPER" value="ignoreFile=./deprecation.ignore" />-->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <!-- Enable to see the db side effects of the tests. -->
        <!--        <bootstrap class="Shopware\Core\Test\PHPUnit\Extension\DatabaseDiff\DatabaseDiffExtension"/>-->
    </extensions>
</phpunit>
